<div class="aboutPage">
    <div class="aboutPage-text">
        <h1>Vem är Jesper Zackrisson?</h1>
        <p>
           Jag heter Jesper Zackrisson, är 23 år gammal och studerar frontend -
           utvecklare på Ecutbildning i Västerås. När studierna inte är i farten så
           hittar man mig antingen på gymmet eller kanske till och med ute på golfbanan.
        </p>
    </div>
    <div class="d-flex aboutPage-content">
        <div>
            <h3>Utbildningar</h3>
            <div class="utbildningar">
                <div class="utbildning">
                    <h6>GrundSkola åk 1-9 ( Aug 2003 - Jun 2013 )</h6>
                    <p>Tegelviken, Kvicksund</p>
                    <h6>Teknikprogrammet (TE) ( Aug 2013 - Jun 2016 )</h6>
                    <p>Grillska gymnasiet, Västerås</p>
                    <h6>Högskoleingenjör i Datateknik ( Aug 2013 - Jun 2016 (ej genomförd) )</h6>
                    <p>Örebro universitet</p>
                    <h6>Frontendutvecklare ( Aug 2020 - Jun 2022 (pågående utbildning) )</h6>
                    <p>EC-utbildning Västerås</p>
                </div>
            </div>
        </div>
        <div class="erfarenheter">
            <h3>Tidigare arbetslivserfarenheter</h3>
            <div>
                <div class="erfarenhet">
                    <p>Praoelev Tegelviken ( 2011-05-09 - 2011-05-13 )</p>
                    <small>Har under årskurs 7 i grundskolan praoat på ett dagis på min grundskola, där min arbetsuppgift var att ta hand om barnen</small>
                    <p>Praoelev Shortcutmedia ( 2012-05-07 - 2012-05-11 )</p>
                    <small>Har under årskurs 8 i grundskolan praoat på ett kameraföretag i Stockholm som heter Shortcutmedia AB, min storebrors företag, där mina arbetsuppgifter var allt möjligt, bland annat att assistera min bror.</small>
                    <p>Östra holmen Västerås ( 2015-06-08 - 2015-06-30 )</p>
                    <small>Min arbetsuppgift var att stå i kiosken, där jag hade ansvaret för kassahanteringen. Fick bland annat också stå i köket, där det gjordes allt från våfflor till mer avancerade mackor.</small>
                    <p>Örebro City Golf & Country Club ( 2017-05-30 - 2017-07-30 )</p>
                    <small>Har under ca 2 månader jobbat på en golfklubb i Örebro, där jag jobbade som banskötare. Min arbetsuppgift var att sköta om banorna. Det var allt från Green, Fairway, Ruff, Bunkrar och Tee. Arbetsuppgiften gick ut på att klippa banorna med olika gräsklippor, allt från stora till små. </small>
                    <p>Postnord Paketterminal Örebro (Student Consulting) ( 2017-10-17 - 2017-12-17 )</p>
                    <small>Hade som ett extrajobb arbetat på Postnords paketterminal i Örebro, där jag jobbade natt och min uppgift där är hantering av paket, där uppgiften är att hantera paket som kommer in till terminalen som senare ska sorteras och ut vidare. </small>
                    <p>XXL Central Warehouse (Academic Work) ( 2018-12-13 - 2018-05-31 )</p>
                    <small>Hade som ett extrajobb efter mitt jobb på PostNord hos XXL logistikcenter i Örebro, där jag jobbade som konsult för konsultföretaget Academic Work. Min uppgift var väldigt varierande. Det var allt ifrån individuella uppgifter som att packa upp varor och sedan sortera, till att arbeta som grupp där uppgiften var att tömma containrar med varor i som senare skulle sorteras.</small>
                    <p>Postnord Paketterminal Örebro (Postnord) ( 2019-06-02 - 2020-06-05 )</p>
                    <small>Har under sommaren haft ett sommarjobb hos Postnord paketterminal i Örebro. Mina arbetsuppgifter var att sortera paket. Det var alltifrån kuvert, kartonger till stora paket som TV apparater. Jag jobbade hela sommaren under en väldig högpress, då det var väldigt mycketpaket som skulle sorteras. Jag jobbade bara nätter, vilket var väldigt krävande men väldigt spännande. Efter sommaren blev det en anställning på 75% som varade till sommaren 2020.</small>
                </div>
                
            </div>
        </div>
        <div>

        </div>
    </div>
</div>
